<!doctype html>
<html>
  <head>
    <title>Showcase</title>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" rel="stylesheet">
      <link href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css' rel="stylesheet">
      
    <link href='static/styles.css' rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 	<script src='https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.31.2/es6-shim.js'></script>
  </head>
  <body>
   
    <div id="mount">
      <%- reactOutput %>
    </div>




    <script src="static/app.js"></script>
  </body>
</html>
