<!doctype html>
<html>
  <head>
    <title>Grocery Listify</title>
    <link href='bower_components/skeleton/css/normalize.css' rel="stylesheet">
    <link href='bower_components/skeleton/css/skeleton.css' rel="stylesheet">
    <link href='/styles.css' rel="stylesheet">
 	<script src='bower_components/es6-shim/es6-shim.js'></script>
  </head>
  <body>
   <div class="container">

    <h1 id="main-title">Grocerrific App</h1>
    <div id="mount">
      <%- reactOutput %>
    </div>
   </div>



    <script src="/app.js"></script>
  </body>
</html>
