<!doctype html>
<html>
  <head>
    <title>Showcase</title>
<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,100' rel='stylesheet' type='text/css'>

    <link href='static/bower_components/skeleton/css/normalize.css' rel="stylesheet">
    <link href='static/bower_components/skeleton/css/skeleton.css' rel="stylesheet">

    <link href='static/styles.css' rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 	<script src='static/bower_components/es6-shim/es6-shim.js'></script>
  </head>
  <body>
   
    <div id="mount">
      <%- reactOutput %>
    </div>




    <script src="static/app.js"></script>
  </body>
</html>
