/*
html {
	color: darkslategray;
	background-color: #fffefd;
}
*{
    font-family: 'Roboto', sans-serif;
}
body {
	padding-top: 3rem;
}

.purchased-false {
	  height: 40px;
    background-color: red;
}

.purchased-true {
	  height: 40px;
    background-color: green;
}

.strikethrough {
	text-decoration: line-through;
	color: slategray;
}

h1 {
	text-decoration: underline;
	text-decoration-style: wavy;
}

.grocery-addItem {
	margin-top: 1rem;
	padding-top: 1rem;
}

*/
button, .button {
    margin-bottom: 0;
}
.menu_title{
    text-align: center;
    font-size: 1.5em;
    padding: 15px 0 0;
}
.menu_title .fa{
    padding-right: 10px;
}

.main_title{
    font-weight: 100;
    text-shadow: 1px 1px 1px #4B4B4C;
}
.main_title .fa{
     margin-left: 3px;
}
.social_links{
    line-height: 64px;
}
.social_links .fa{
    vertical-align: middle;
    padding:0 10px;
    text-shadow: 1px 1px 1px #4B4B4C;
}
.marginTop{
    margin-top: 30px;
}
.search {
    margin-bottom: 20px;
    text-align: center;
    
}
.search .fa-2{
        text-shadow: 1px 1px 1px #4B4B4C;
}
.search .fa-1{
    margin: 5px 5px 5px 10px;
}