
button, .button {
    margin-bottom: 0;
}
.menu_title{
    text-align: center;
    font-size: 1.5em;
    padding: 15px 0 0;
}
.menu_title .fa{
    padding-right: 10px;
}

.main_title{
    font-weight: 100;
    text-shadow: 1px 1px 1px #4B4B4C;
}
.main_title .fa{
     margin-left: 3px;
}
.header_title{
    text-decoration: none;
    color:white;
}
.header_title:hover{
    color: rgba(0, 0, 0, 0.87);
}
.social_links{
    line-height: 64px;
}
.social_links .fa{
    vertical-align: middle;
    padding:0 10px;
    text-shadow: 1px 1px 1px #4B4B4C;
}
.marginTop{
    margin-top: 30px;
}

.menuLink{
    text-decoration: none;
    color: black;
}
.menuLink:hover{
    background-color: rgba(236, 236, 236, 0.62);
}
.menuItem:hover{
    background-color: rgba(236, 236, 236, 0.62);
        color: #1EAEDB;
}
.menuSubheader{
    margin: 0 16px;
}
.search {
    margin-bottom: 20px;
    text-align: center;

}
.search .fa-2{
        text-shadow: 1px 1px 1px #4B4B4C;
}
.search .fa-1{
    margin: 5px 5px 5px 10px;
}
.likes-showcase{
    font-size: 1.3em;
    top: 20px;
    right: 20px;
    position: absolute;
    text-shadow: 1px 1px 1px #4B4B4C;
    color: rgb(0, 232, 232);
}
.likes-showcase .fa{
    padding-left: 5px;

}

.piece-likes{
    font-size: 1em;
}
.piece-likes .fa{
    color: #E61E1E;
    margin-right: 7px;
}
.title-showcase{
    font-size:1.4em;
    font-weight: 300;
}

.mediaPiece{
    max-width: 70%;
    margin: auto;
    max-height: 70%;
}

.title-piece .sub{
    font-size: 0.8em;
    font-weight: 100;
}

.about{
    text-align: center;
    padding:20px;
}
.edit_delete{
  float:right;
}
.edit_delete fa-trash{
  vertical-align: super;
}
